.mini_profile_card {
  height: 17vh;
}
.status {
  margin: 1vh;
  color: rgba(51, 51, 51, 0.603);
}

.profile_flex {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.about {
  height: 10vh;
}

.mini_profile_photo {
  height: 15vh;
  width: 15vh;
}

.ant-tabs-tab-btn {
  color: rgb(128, 104, 84);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(128, 104, 84);
}

.stickerbook_space {
  height: 42vh;
}
