.Packs {
  margin-top: 7vh;
}

.pack {
  width: 30vh;
}

.stickerpack_title {
  color: rgb(69, 56, 35);
}

.stickerpack {
  outline: none;
  margin-right: 2vh;
  height: 39vh;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.stickerpack:hover {
  transform: scale(1.01);
}

.pack {
  width: 40vh;
  height: 40vh;
}

.stickerpacks_scroll {
  display: flex;
}

.sticker_load {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
