.main_profile_content {
  /* background-color: rgba(255, 228, 196, 0.281); */
  /* padding: 5vh; */
  width: 50rem;
  /* height: 80vh; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 9vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile_card {
  width: 240px;
}

.profile_photo {
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 25vh;
  height: 25vh;
}

.about {
  margin-left: 2vh;
}

.textarea {
  width: 49vh;
}

textarea.ant-input {
  height: 15vh;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  height: 100%;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

input[type="file"] + label {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  background: rgb(128, 104, 84);
  border-color: rgb(141, 114, 92);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  outline: 0;
  border: 1px solid rgb(141, 114, 92);
  cursor: pointer;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  margin-left: 3.5vh;
}
